*.py[cod]
/logs/*.log
*.db
venv/
.idea/
*.iml
bower_components
django.mo
templates/static/cdn
/static
/conf/localsettings.py
.sass-cache/
/web-app/node-modules/
/web-app/dist/
/dist
/web-app/conf.js
/web-app/src/project-app/config/config.js
/web-app/node_modules/
/web-app/src/design/css/style.css
app_conf/conf_dev.js
tmp
node_modules/